@import '../../styles/_variable';

.header {
  width: 100%;
  min-height: 59vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: $color-theme-universal;
  padding: {
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 0;
  }
  .divider {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.514);
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .balance {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 0.5rem;
    h1 {
      color: #fff;
      margin: 0;
      font-weight: 700;
      text-align: right;
      display: inline;
    }
    .balance-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .balance-btn {
      background-color: $color-transaction-button;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      padding: 0.6rem 1.4rem;
      border-radius: 2px;
      font-size: 0.9rem;
      transition: background 0.5s;
      border: 1px solid$color-transaction-button-hover;
      margin-bottom: 1rem;
      margin-right: 0;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: $color-transaction-button-hover;
      }
    }
    .buy-btn {
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      padding: 0.6rem 1.4rem;
      border-radius: 2px;
      font-size: 0.9rem;
      transition: background 0.5s;
      border: 1px solid #fff;
      margin-bottom: 1rem;
      cursor: pointer;
      &:hover {
        background: #fff;
        border: 1px solid #fff;
        color: $color-theme-universal;
      }
    }
  }
  .logo {
    display: flex;
    padding: 0.5rem 0;
    color: #fff;
    font-size: 0.8rem;
    :last-child {
      margin-left: 1rem;
    }
  }
  .container-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .button-currency {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .header {
    .container-logo {
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row;
      max-width: 62%;
    }
    .balance {
      align-items: flex-start;
      flex-direction: row;
      font-size: 0.7rem;
      max-width: 62%;
      h1 {
        display: block;
      }
      .balance-btn-container {
        flex-direction: row;
      }
      .balance-btn {
        margin-right: 2rem;
      }
    }
    .divider {
      max-width: 62%;
      min-width: 0;
    }
  }
}
