@import '../../styles/variable';

.signpage {
  min-height: 100vh;
  background: $color-theme-universal;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  main {
    width: 100%;
    border-radius: 0.2rem;
    background: $color-background;
    border: {
      top: 0.7px solid $color-border;
      right: 0.7px solid $color-border;
      left: 0.7px solid $color-border;
      bottom: 0.7px solid $color-border;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      margin-bottom: 0;
    }
    h1 {
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
      color: $color-text-monochrome;
      margin-left: 1rem;
    }
    p {
      text-align: center;
      color: $color-basic-text;
      font-size: 12pt;
    }
    div {
      padding: 1rem;
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      button {
        width: 100%;
        min-width: 280px;
        height: 50px;
        &:first-child {
          background: $color-theme-universal;
          margin-bottom: 0.7rem;
        }
      }
      .reset-btn {
        padding: 0;
        width: auto;
        min-width: auto;
        height: auto;
        border: none;
        cursor: pointer;
        color: $color-text-monochrome;
        &:first-child {
          background: transparent;
          margin: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.spin {
  text-align: center;
}

@media (min-width: 980px) {
  .signpage {
    main {
      width: 30%;
      button {
        max-width: 600px;
      }
    }
  }
}
