$color-universal: #1652f0;
$color-transaction-button: #05b169;
$color-transaction-button-hover: #06975b;
$color-secondary: #ffc422;
$color-text-secondary: #acacac;
$color-text: #242424;
$color-border: #e9e9e9;
