@import '../../styles/variable';

.homepage {
  min-height: 150vh;
  background: $color-background;
  display: flex;
  flex-flow: column;
  align-items: center;
  main {
    width: 100%;
    border-radius: 0.2rem;
    background: $color-background;
    border: {
      top: 0.7px solid $color-border;
      right: 0.7px solid $color-border;
      left: 0.7px solid $color-border;
      bottom: 0.7px solid $color-border;
    }
    margin-top: -18vh;
  }
}

.header {
  .logo h1 {
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
  }
  .container-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}

.spin-modal {
  text-align: center;
  margin: 1rem;
}

@media (min-width: 980px) {
  .homepage {
    main {
      width: 60%;
    }
  }
  .header {
    .container-logo {
      max-width: 62%;
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row;
    }
  }
}
